# Local .terraform directories
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Zip files
*.zip

# Override files (local, not to be committed)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock file (used to avoid concurrent state modifications)
.terraform.tfstate.lock.info
.terraform.lock.hcl

# Terraform CLI configuration files
.terraformrc
terraform.rc

# Terraform plan output
*.tfplan

# JetBrains IDE (e.g., IntelliJ, PyCharm)
.idea/
.vscode/
*.pio

# Secrets for WiFi and other sensitive data
**/secrets.h